# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# NetBeans related
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# macos
.DS_Store

# Compiled executable
apue.3e/advio/deadlock
apue.3e/advio/mandatory
apue.3e/advio/mcopy2
apue.3e/advio/nonblockw
apue.3e/advio/rot13a
apue.3e/advio/rot13c2
apue.3e/datafiles/strftime
apue.3e/db/libapue_db.so.1
apue.3e/db/t4
apue.3e/environ/doatexit
apue.3e/environ/echoarg
apue.3e/environ/getrlimit
apue.3e/environ/hello1
apue.3e/environ/testjmp
apue.3e/exercises/bo
apue.3e/exercises/fifo1
apue.3e/exercises/getlogin
apue.3e/exercises/getpwsvr4
apue.3e/exercises/goodexit
apue.3e/exercises/longpath
apue.3e/exercises/pendlock
apue.3e/exercises/prtime
apue.3e/exercises/sizepipe
apue.3e/exercises/vfork3
apue.3e/exercises/zombie
apue.3e/filedir/access
apue.3e/filedir/cdpwd
apue.3e/filedir/changemod
apue.3e/filedir/devrdev
apue.3e/filedir/filetype
apue.3e/filedir/ftw8
apue.3e/filedir/mycd
apue.3e/filedir/umask
apue.3e/filedir/unlink
apue.3e/filedir/zap
apue.3e/fileio/fileflags
apue.3e/fileio/hole
apue.3e/fileio/mycat
apue.3e/fileio/seek
apue.3e/intro/getcputc
apue.3e/intro/hello
apue.3e/intro/ls1
apue.3e/intro/mycat
apue.3e/intro/shell1
apue.3e/intro/shell2
apue.3e/intro/testerror
apue.3e/intro/uidgid
apue.3e/ipc1/add2
apue.3e/ipc1/add2stdio
apue.3e/ipc1/devzero
apue.3e/ipc1/myuclc
apue.3e/ipc1/pipe1
apue.3e/ipc1/pipe2
apue.3e/ipc1/pipe4
apue.3e/ipc1/popen1
apue.3e/ipc1/popen2
apue.3e/ipc1/tshm
apue.3e/ipc2/bindunix
apue.3e/ipc2/open.fe/openclient
apue.3e/ipc2/open/openclient
apue.3e/ipc2/opend.fe/opend
apue.3e/ipc2/opend/opend.poll
apue.3e/ipc2/opend/opend.select
apue.3e/ipc2/pollmsg
apue.3e/ipc2/sendmsg
apue.3e/printer/print
apue.3e/printer/printd
apue.3e/proc/echoall
apue.3e/proc/exec1
apue.3e/proc/exec2
apue.3e/proc/fork1
apue.3e/proc/fork2
apue.3e/proc/nice
apue.3e/proc/pracct
apue.3e/proc/pruids
apue.3e/proc/systest1
apue.3e/proc/systest3
apue.3e/proc/tellwait1
apue.3e/proc/tellwait2
apue.3e/proc/test1
apue.3e/proc/times1
apue.3e/proc/vfork1
apue.3e/proc/wait1
apue.3e/pty/pty
apue.3e/relation/orphan3
apue.3e/signals/child
apue.3e/signals/critical
apue.3e/signals/mask
apue.3e/signals/read1
apue.3e/signals/read2
apue.3e/signals/reenter
apue.3e/signals/sigtstp
apue.3e/signals/sigusr
apue.3e/signals/suspend1
apue.3e/signals/suspend2
apue.3e/signals/systest2
apue.3e/signals/tsleep2
apue.3e/sockets/ruptime
apue.3e/sockets/ruptimed
apue.3e/sockets/ruptimed-dg
apue.3e/sockets/ruptimed-fd
apue.3e/standards/conf
apue.3e/standards/options
apue.3e/stdio/buf
apue.3e/stdio/fgetsfputs
apue.3e/stdio/getcharbug
apue.3e/stdio/getcputc
apue.3e/stdio/memstr
apue.3e/stdio/mkstemp
apue.3e/stdio/tempfiles
apue.3e/termios/csize
apue.3e/termios/settty
apue.3e/termios/t_getpass
apue.3e/termios/t_isatty
apue.3e/termios/t_raw
apue.3e/termios/t_ttyname
apue.3e/termios/winch
apue.3e/threadctl/atfork
apue.3e/threadctl/suspend
apue.3e/threads/badexit2
apue.3e/threads/barrier
apue.3e/threads/cleanup
apue.3e/threads/exitstatus
apue.3e/threads/threadid
apue.3e/threads/timedlock 
